extends base
block variables
	-var title = 'CSS текст'
	-var active = 3

block content
	div.css-text-image-container
		img(src="img/css-probely.png")
		img(src="img/css-text-decoration.png")
		img(src="img/css-text.png")
		img(src="img/css-probely.png")

	div.css-text-content
		p.css-text-content-left
			|Основной единицей текста является символ.
			|Тем не менее, поскольку системы письма не всегда так просты, как основной английский алфавит, то, чем на самом деле является символ, зависит от контекста, в котором используется этот термин.
			|Например, в корейской системе письма каждое квадратное представление слога (например, 한 = хань) можно считать символом.
			|Однако квадратный символ действительно состоит из нескольких букв, каждая из которых представляет фонему (например, ㅎ = h, ㅏ = a, ㄴ = n), и каждая из них также может считаться символом.
		img(class="css-text-content-right-top" src="img/html.jpg")
		p.css-text-content-right-bottom Свойство text-transform стилизует текст. Оно не влияет на базовое содержимое и не должно влиять на содержимое операции копирования и вставки простого текста.
	p
		|Когда содержимое на строчном уровне разбивается на строки, оно разбивается на линейные блоки. Такое разбиение называется разрыв строки.
		|Когда строка прерывается из-за явных элементов управления разрывом строки, например, символа новой строки или тега #{'<br>'}, начала или конца блока — это принудительный разрыв строки.
		|Если строка обрывается из-за переноса содержимого, когда браузер создает необязательные разрывы строк, чтобы вписать содержимое — это мягкий перенос.